/********************* Global Variables **********************/

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

/********************* Standard Resets ***********************/

*,
*::before,
*::after {
    /* Ensures padding & border remain within element's size */
    box-sizing: border-box;
}

* {
    /* Remove browser's default margin, padding, and font settings */
    margin: 0;
    padding: 0;
}

img,
picture,
svg,
video {
    /* Prevents inline spacing issues */
    display: block;
    /* Ensures media scales within parent container */
    max-width: 100%;
}

/*************************************************************/

body {
    background-color: var(--stone-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 1px);
}

main {
    background-color: var(--white);
    max-width: 23.4375rem;
}

article {
    background-color: var(--white);
    max-width: 23.4375rem;
    padding: 2.5rem 2rem;
    font-family: outfit;
    font-weight: normal;
    line-height: 150%;
    letter-spacing: 0;
    color: var(--stone-600);
}

h1 {
    color: var(--stone-900);
    font-family: "Young Serif", serif;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
    font-size: 2.25rem;
    padding-bottom: 1.5rem;
}

.intro {
    line-height: 150%;
    padding-bottom: 1.5rem;
}

.prep-time {
    background-color: var(--rose-50);
    padding: 1.5rem 1.5rem 0.75rem;
    padding-bottom: 1rem;
}

.prep-time>h2 {
    color: var(--rose-800);
    font-family: outfit;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0;
    font-size: 1.25rem;
    padding-bottom: 1rem;
    padding-top: 0;
}

.prep-time-ul {
    padding-left: 1.5rem;
    padding-right: 1rem;
}

.prep-time-ul>li {
    padding-bottom: 0.5rem;
    text-indent: 1rem;
}


h2 {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    color: var(--brown-800);
    font-family: "Young Serif", serif;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    font-size: 1.75rem;
}

.ingredients-ul {
    padding-left: 2.5rem;
    padding-bottom: 1.5rem;
}

.ingredients-ul>li {
    padding-bottom: 0.5rem;
    text-indent: 1rem;
}

.instructions-ol {
    padding-bottom: 1.5rem;
}

.instructions-ol>li {
    line-height: 150%;
    padding-bottom: 0.5rem;
}

ol {
    padding-left: 1.5rem;
    padding-right: 1rem;
}

hr {
    border: none;
    height: 1px;
    /* thickness of the line */
    background-color: var(--stone-150)
}

.nutrition-para {
    padding-bottom: 1.5rem;
    line-height: 150%;
}

table {
    border-collapse: collapse;
    /* Ensures borders don't double up */
    width: 100%;
    /* Optional, just for layout */
}

th,
td {
    border: none;
    /* Remove all borders by default */
    padding: 0.75rem 2rem;
}

tr:not(:last-child) {
    border-bottom: 1px solid var(--stone-150);
    /* Light grey line between rows */
}

.bb {
    font-weight: 700;
    color: var(--brown-800);
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/************************ Responsive *************************/

/* Tablet (min-width: 768px) */
@media (min-width: 768px) {

    main {
        background-color: var(--white);
        max-width: 38.5rem;
        border-radius: 1.5rem;
    }

    .main-image-wrapper {
        border-radius: 0.75rem;
        margin-top: 2.5rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        overflow: hidden;
    }

    article {
        max-width: 38.5rem;
        padding: 2.5rem 2.5rem 2rem;
        border-radius: 1.5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .nutrition-para {
        padding-bottom: 0.75rem;
    }
}

/* Desktop (min-width: 992px) */
@media (min-width: 992px) {

    main {
        background-color: var(--white);
        max-width: 46rem;
        margin: 8rem 3rem;
    }

    article {
        max-width: 736px;
        padding: 2.5rem 2.5rem 2rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .nutrition-para {
        padding-bottom: 0.75rem;
    }
}